<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <h1>Hi, {{ g.user.nickname }}!</h1>

  {% include 'flash.html' %}

  <form action="" method="post" name="post">
    {{ form.hidden_tag() }}

     <div class="form-group">
      <label for="">Say something:</label>
      {{ form.post(size=30, maxlength=140) }}
    </div>

    {% for error in form.post.errors %}
    <span style="color: red;">[{{ error }}]</span><br>
    {% endfor %}

    <button type="submit" class="btn btn-default">Submit</button>
  </form>

  <!-- posts is a Paginate object -->
  {% for post in posts.items %}
  <p>
    {% include 'post.html' %}
  </p>
  {% endfor %}

  {% include 'pagination.html' %}

{% endblock %}
